/*

h1{
	font-family: 'Pacifico';
	text-align: center;
	color: #5d5e62;	
}
h2{
	font-family: 'Shadows Into Light';
	text-align: center;
	color: #0078ff;
}
#first{
	font-family: 'Indie Flower';
	text-align: left;
	background-color: #1a2f47;
	color: #8f9fb2;
	height: 250px;
	width: 400px;
	float: right;
	border: 3px solid blue;
	padding: 5px;
	border-radius: 20px 

}
#second{
	font-family: 'Dancing Script';
	text-align: left;
	background-color: #536878;
	color:#99ccff; 
	float: left;
	height: 250px
	width:400px;
	border:5px solid blue;
	padding:5px;
	border-radius: 20px;
}
#img{
	background-color: #3366ff
	border-radius:20px;
	border: 3px solid #5d5d5d;
	float: left;
}
#favorite{
	font-family: 'Bad Script';
	color: #292929;
	background-color: #4099ff;
	border: 3px solid black
	border-radius:25px;
	height:400px;
	width: 250px;
	padding: 5px

}
nav{
	position: fixed;
}
*/
#first{
	font-family: 'Shadows Into Light';
}
body{
	background-color: black;
	color:white;
}
h2{
	text-align: center;
}
pre{
	font-family: 'Bad Script';
	text-align: center;
}
h1{
	font-family: 'Pacifico';
	text-align: center;
}
